

#sidebar {
  min-width: 400px;
  max-width: 400px;
  min-height: 100vh;
  color: rgba(6, 1, 1, 0.76);
  position: relative;
  transition: all 0.3s;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.5;
}

#sidebarnav.hidden {
  margin-left: -600px;
}

#sidebarnav {
  margin-left: 10px;
  padding-top: 50px;
  transition: all 0.3s;
}

@media (max-width: 575px) {
  #sidebarnav {
    margin-left: -200px;
  }
  #sidebarnav.hidden {
    margin-left: 0;
  }
}

a, a:hover, a:focus {
  color: inherit;
}

#sidebar .sidebar-header {
  padding: 20px;
}

hr {
  border-top: 1px solid #fff;
  margin-top: 0;
}
