<head>
  <title>sidebar-v2 example</title>

  <style>
    body {
      padding: 0;
      margin: 0;
    }

    html, body, #map {
      height: 825px;
      font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
    }

  </style>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<!-- optionally define the sidebar content via HTML markup -->

<div id="sidebar" class="leaflet-sidebar collapsed">

  <!-- nav tabs -->
  <div class="leaflet-sidebar-tabs">

    <!-- top aligned tabs -->
    <ul role="tablist">
      <li><a href="#autopan" role="tab"><i class="fa fa-home"></i></a></li>
    </ul>
  </div>

  <!-- panel content -->
  <div class="leaflet-sidebar-content">
    <div class="leaflet-sidebar-pane" id="autopan">
      <h1 class="leaflet-sidebar-header">
        Real Estate Properties
        <span class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></span>
      </h1>
      <hr/>
      <app-property-list></app-property-list>
    </div>
  </div>

</div>
<div id="map"></div>

</body>
