<div id="card">
  <a style="background-color: rgba(250,96,62,0.04)" href="#"
     class="list-group-item clearfix"
     (click)="onPropertyClick()">
    <div class="pull-left">
      <h4 class="list-group-item-heading">
        {{property.result}}
      </h4>
      <p class="list-group-item-text">
        {{property.address}}
      </p>
    </div>
    <span class="pull-right">
        <img [src]="property.photo" alt="{{ property.address }}" class="img-responsive" style="max-height: 50px;">
      </span>
  </a>
</div>

